<!DOCTYPE html>
<html>
    <head>
        <title>Formulários</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <form action="~/pagina2.cshtml" method="post">
            <p>Qual a capital de Portugal</p><br />
            <input type="radio" name="q_1" value="Paris" />Paris<br />
            <input type="radio" name="q_1" value="Madrid" />Madrid<br />
            <input type="radio" name="q_1" value="Lisboa" />Lisboa<br />
            <input type="submit" value="Avançar" />
        </form>
    </body>
</html>
