<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Exemplo com QueryStrings</title>
    <meta charset="utf-8" />
</head>
<body>
    @{
        List<string> nomes = new List<string>()
        {
            "Joao", "Diego", "Carlos","Roberto"
        };

        string url = "pagina2.cshtml?";
        int index = 1;

        foreach(string n in nomes)
        {
            url = url + "nome" + index.ToString() + "=" + n;
            index++;

            if (index <= n.Count())
            {
                url = url+ "&";
            }
        }
    }
    <a href=@url>Página 2</a>
</body>
</html>