<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @{ 
            AppState["nome"] = "Diego";
            AppState["Apelido"] = "Cantelli";
            <a href="~/Pagina2.cshtml">Link para a página 2</a>
        }
        <h1>Pagina 1</h1>
    </body>
</html>
